<!DOCTYPE html>
<html>
    <head>
      <!--In the furture downlaod the js and css files to host on the server for increased privacy and security, for now just use cdn-->
      <title>Scan</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.16.3/dist/css/uikit.min.css" />
      <script src="https://cdn.jsdelivr.net/npm/uikit@3.16.3/dist/js/uikit.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/uikit@3.16.3/dist/js/uikit-icons.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/party-js@latest/bundle/party.min.js"></script>
        
    </head>
    <body>
      <div class="uk-container"><h1>Manage Events</h1></div>

      <!--Table of events with delete buttons, create new event, -->

      <style>
        table, th, td {
          border:1px solid black;
        }
      </style>

      {% block content %}
        <h2>Event List</h2>
        {% if events %}
        <ul><table style="width:100%"><tr><td>Name</td><td>ID</td><td>Type</td></tr>
            {% for event in events %}
            <tr id="id_{{event[2]}}"><td><form method="post" action="/events"><input type="submit" value="delete_event_{{event[0]}}" name="delete_event_{{event[0]}}"/></form>{{event[2]}}</td><td>{{event[0]}}</td><td>{{event[1]}}</td></tr>
            {% endfor %}
        </table></ul>
        {% endif %}
      {% endblock %}



      <form method="post">
        <p>Event name: <input type = "text" name = "event_name" /></p>
        <select name="event_type" id="event_type">
    
            {% for type in types %}
            <option value= "{{type}}">{{type}}</option>
            {% endfor %}
        </select> 
        <p><input type = "submit" value = "Submit" /></p>
    
      </form>

      <form method="post">
        <select name="new_active_event" id="new_active_event" onchange='if(this.value != 0) { this.form.submit(); }'>

            {% for event in events %}
            {% if event[0] == active_event %}
            <p>{{event}}</p>
            <option value= "{{event[0]}}" SELECTED>{{event[2]}}</option>
            {% else %}
            <option value= "{{event[0]}}">{{event[2]}}</option>
            {% endif %}
            {% endfor %}
        </select> 
    </form>

    </body>
</html>