<html>
    <head>
        <title>Login | involve</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.16.3/dist/css/uikit.min.css" />
        <script src="https://cdn.jsdelivr.net/npm/uikit@3.16.3/dist/js/uikit.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/uikit@3.16.3/dist/js/uikit-icons.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/party-js@latest/bundle/party.min.js"></script>
        <link rel="icon" type="image/ico" href="static/favicon.ico">

    </head>
<body>
<div class="uk-container">
<h1>Login</h1>
<form action="" method = "POST">
    <p>Username <input class="uk-input" type = "username" name = "username" /></p>
    <p>Password <input class="uk-input" type = "password" name = "password" /></p>
    <p><input class="uk-button uk-button-primary" type = "submit" value = "Submit" /></p>
</form>
</div>
</body>
</html>