<!DOCTYPE html>
<html>
    <head>
      <!--In the furture downlaod the js and css files to host on the server for increased privacy and security, for now just use cdn-->
      <title>Scan | involve</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.16.3/dist/css/uikit.min.css" />
      <script src="https://cdn.jsdelivr.net/npm/uikit@3.16.3/dist/js/uikit.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/uikit@3.16.3/dist/js/uikit-icons.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/party-js@latest/bundle/party.min.js"></script>
      <link rel="icon" type="image/ico" href="static/favicon.ico">

    </head>
    <body>
      <style>p, h1, h2, h3, h4 {color: #003049;}</style>

      <div class="uk-container uk-position-top-left">
        {% if jinja_message != None %}
        <div class="uk-alert-success" uk-alert>
            <a class="uk-alert-close" uk-close></a>
            <p>Succesfully registered {{jinja_message[0]}}.</p>
        </div>
        {% endif %}
      </div>

      <div class="uk-container uk-position-top-right">
        {% if session_type=="admin" %}
        <a style="background-color: #669BBC;" class="uk-button uk-button-primary" href="/admin">Admin</a>
        {% endif %}
        <a style="background-color: #669BBC;" class="uk-button uk-button-primary" href="/logout">Log out</a>
      </div>
      <div class="uk-container uk-position-center">
        <div class="uk-container uk-text-center"><h1 class="uk-align-center">Scan</h1></div>
        <!--<h3>I need a color pallette</h3>-->
        <div class="uk-container">
          <form>
            <div class="uk-margin">


              <form action="" method="POST">
                <input id="scanbox" class="uk-input" name="id" type="id" placeholder="Scan ID Here" aria-label="Input" autofocus/>
              </form>
              <script>
                /*
                document.querySelector("#scanbox").addEventListener("keypress", function (e) {
                    if (event.key === "Enter") {
                      //https://stackoverflow.com/questions/62075431/flask-post-request-form-data-without-refreshing-page
                      party.confetti(this);
                    }
                });
                party.confetti(runButton, {
                	spread: party.variation.range(400),
                	count: party.variation.range(200, 300),
                	speed: party.variation.range(200, 400),
                	
                });
                */

              </script>
            </div>
          </form>
        </div>
      </div>
    </body>
</html>