<html>
<head>
    <meta charset="utf-8" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
</head>
<body>
    <h1>{{x}}</h1>
    <h2>{{z}}</h2>
    <canvas id="top-earners" width="800" height="450"></canvas>
    <br><br><br><br><br>
    <canvas id="event_attendance" width="800" height="450"></canvas>
    <br><br><br><br><br>
    <canvas id="type_bar" width="800" height="450"></canvas>
    <br><br><br><br><br>
    <canvas id="events_list" width="800" height="450"></canvas>
    <br><br><br><br><br>
    <canvas id="percentage_types" width="800" height="450"></canvas>


 

    <form method="post">
        <select name="type" id="type" onchange='if(this.value != 0) { this.form.submit(); }'>

            {% for type in types %}
            {% if type == active_type %}
            <option value= "{{type}}" SELECTED>{{type}}</option>
            {% else %}
            <option value= "{{type}}">{{type}}</option>
            {% endif %}
            {% endfor %}
        </select> 
    </form>

    
    <form method="post">
        <select name="event" id="event" onchange='if(this.value != 0) { this.form.submit(); }'>

            {% for event, name in events %}
            {% if event == population_event %}
            <option value= "{{event}}" SELECTED>{{name}}</option>
            {% else %}
            <option value= "{{event}}">{{name}}</option>
            {% endif %}
            {% endfor %}
        </select> 
    </form>



    <script>
        //Top Three Earners
        new Chart(document.getElementById("top-earners"), {
            type: 'bar',
            data: {
            labels: {{ top_earners_x|tojson }},
            datasets: [
                {
                label: "Points",
                backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f"],
                data: {{ top_earners_y|tojson }},
                },

            ]
            },
            options: {
            legend: { display: false },
            title: {
                display: true,
                text: 'Top Point Earners'
            }
            }
        });


        //Pie Chart of attendance of egvents
        new Chart(document.getElementById("event_attendance"), {
            type: 'pie',
            data: {
            labels: ["Students Attendad", "Students not attended"],
            datasets: [{
                label: "Student Attendance",
                backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850"],
                data: {{ attendance_x|tojson }}//Needs the number of people there and not there
            }]
            },
            options: {
            title: {
                display: true,
                text: 'Attendance at School Events '
            }
            }
        });


        //Bar chart with dropdown for events of a type
        new Chart(document.getElementById("type_bar"), {
            type: 'bar',
            data: {
            labels: {{ events_type_x|tojson }},
            datasets: [
                {
                label: "Attendance",
                backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f"],
                data: {{ events_type_y|tojson }},
                },

            ]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                },
                legend: { display: true },
                title: {
                    display: true,
                    text: 'Attendance by Type'
                }
            }
        });

        new Chart(document.getElementById("events_list"), {
            type: 'bar',
            data: {
            labels: {{ events_x|tojson }},
            datasets: [
                {
                label: "Points",
                backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f"],
                data: {{ events_y|tojson }},
                },

            ]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                },
                legend: { display: true },
                title: {
                    display: true,
                    text: 'Attendance'
                }
            }
        });

        new Chart(document.getElementById("percentage_types"), {
            type: 'bar',
            data: {
            labels: {{ percentage_types_x|tojson }},
            datasets: [
                {
                label: "Points",
                backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f"],
                data: {{ percentage_types_y|tojson }},
                },

            ]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                },
                legend: { display: true },
                title: {
                    display: true,
                    text: 'Attendance'
                }
            }
        });
    </script>    

</body>
</html>