<html>
<head>
    <meta charset="utf-8" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
</head>
<body>
    <h1>{{x}}</h1>
    <h2>{{z}}</h2>
    <canvas id="top-earners" width="800" height="450"></canvas>
    <br><br><br><br><br>
    <canvas id="event_attendance" width="800" height="450"></canvas>

    <script>
        //Top Three Earners
        new Chart(document.getElementById("top-earners"), {
            type: 'bar',
            data: {
            labels: {{ top_earners_x|tojson }},
            datasets: [
                {
                label: "Points",
                backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f"],
                data: {{ top_earners_y|tojson }},
                },

            ]
            },
            options: {
            legend: { display: false },
            title: {
                display: true,
                text: 'Top Point Earners'
            }
            }
        });


        //Pie Chart of attendance of egvents
        new Chart(document.getElementById("event_attendance"), {
            type: 'pie',
            data: {
            labels: ["Students Attendad", "Students not attended"],
            datasets: [{
                label: "Student Attendance",
                backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850"],
                data: {{ attendance_x|tojson }}//Needs the number of people there and not there
            }]
            },
            options: {
            title: {
                display: true,
                text: 'Attendance at School Events '
            }
            }
        });





    </script>    

</body>
</html>