<html>
    <head>
        <title>Report | involve</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.16.3/dist/css/uikit.min.css" />
        <script src="https://cdn.jsdelivr.net/npm/uikit@3.16.3/dist/js/uikit.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/uikit@3.16.3/dist/js/uikit-icons.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/party-js@latest/bundle/party.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
        <link rel="icon" type="image/ico" href="static/favicon.ico">

      </head>
<body>

    <div class="uk-container uk-position-top-right">
        <a style="background-color: #669BBC;" class="uk-button uk-button-primary" href="/logout">Log out</a>
        <a style="background-color: #669BBC;" class="uk-button uk-button-primary" href="/events">Events</a>
        <a style="background-color: #669BBC;" class="uk-button uk-button-primary" href="/winners">Winners</a>
    </div>
    <div class="uk-container"><h1>Report</h1></div>

    <div class="uk-child-width-1-3@s uk-grid" uk-grid>
        <div class="uk-card uk-card-default uk-card-body"><canvas id="top-earners" width="800" height="450"></canvas></div>
        <div class="uk-card uk-card-default uk-card-body"><canvas id="event_attendance" width="800" height="450"></canvas>
        <form method="post">
            <select class="uk-select" name="event" id="event" onchange='if(this.value != 0) { this.form.submit(); }'>
    
                {% for event, name in events %}
                {% if event == population_event %}
                <option value= "{{event}}" SELECTED>{{name}}</option>
                {% else %}
                <option value= "{{event}}">{{name}}</option>
                {% endif %}
                {% endfor %}
            </select> 
        </form>
        </div>
        <div class="uk-card uk-card-default uk-card-body"><canvas id="type_bar" width="800" height="450"></canvas>
        <form method="post">
            <select class="uk-select" name="type" id="type" onchange='if(this.value != 0) { this.form.submit(); }'>
    
                {% for type in types %}
                {% if type == active_type %}
                <option value= "{{type}}" SELECTED>{{type}}</option>
                {% else %}
                <option value= "{{type}}">{{type}}</option>
                {% endif %}
                {% endfor %}
            </select> 
        </form>
        </div>
        <div class="uk-card uk-card-default uk-card-body"><canvas id="events_list" width="800" height="450"></canvas></div>
        <div class="uk-card uk-card-default uk-card-body"><canvas id="grade_events_list" width="800" height="450"></canvas>
        <form method="post">
            <select class="uk-select" name="grade" id="grade" onchange='if(this.value != 0) { this.form.submit(); }'>
    
                {% for grade in grades %}
                {% if grade == active_grade %}
                <option value= "{{grade}}" SELECTED>{{grade}}</option>
                {% else %}
                <option value= "{{grade}}">{{grade}}</option>
                {% endif %}
                {% endfor %}
            </select> 
        </form>
        </div>
        <div class="uk-card uk-card-default uk-card-body"><canvas id="percentage_types" width="800" height="450"></canvas></div>
        <div class="uk-card uk-card-default uk-card-body"><canvas id="grade_points" width="800" height="450"></canvas></div>
        <div class="uk-card uk-card-default uk-card-body"><canvas id="grade_points_pie" width="800" height="450"></canvas></div>
        <div class="uk-card uk-card-default uk-card-body"><canvas id="student_list" width="800" height="450"></canvas></div>
    </div>






    




    <script>
        //Top Three Earners
        new Chart(document.getElementById("top-earners"), {
            type: 'bar',
            data: {
            labels: {{ top_earners_x|tojson }},
            datasets: [
                {
                label: "Points",
                backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f"],
                data: {{ top_earners_y|tojson }},
                },

            ]
            },
            options: {
            legend: { display: false },
            title: {
                display: true,
                text: 'Top Point Earners'
            }
            }
        });


        //Pie Chart of attendance of egvents
        new Chart(document.getElementById("event_attendance"), {
            type: 'pie',
            data: {
            labels: ["Students Attendad", "Students not attended"],
            datasets: [{
                label: "Student Attendance at {{title_name}}",
                backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850"],
                data: {{ attendance_x|tojson }}//Needs the number of people there and not there
            }]
            },
            options: {
            title: {
                display: true,
                text: 'Student Attendance at {{title_name}} '
            }
            }
        });


        //Bar chart with dropdown for events of a type
        new Chart(document.getElementById("type_bar"), {
            type: 'bar',
            data: {
            labels: {{ events_type_x|tojson }},
            datasets: [
                {
                label: "Attendance",
                backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f"],
                data: {{ events_type_y|tojson }},
                },

            ]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                },
                legend: { display: true },
                title: {
                    display: true,
                    text: 'Attendance by Type'
                }
            }
        });

        new Chart(document.getElementById("events_list"), {
            type: 'bar',
            data: {
            labels: {{ events_x|tojson }},
            datasets: [
                {
                label: "Points",
                backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f"],
                data: {{ events_y|tojson }},
                },

            ]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                },
                legend: { display: true },
                title: {
                    display: true,
                    text: 'Attendance'
                }
            }
        });

        new Chart(document.getElementById("percentage_types"), {
            type: 'bar',
            data: {
            labels: {{ percentage_types_x|tojson }},
            datasets: [
                {
                label: "Points",
                backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f"],
                data: {{ percentage_types_y|tojson }},
                },

            ]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                },
                legend: { display: true },
                title: {
                    display: true,
                    text: 'Attendance'
                }
            }
        });

        new Chart(document.getElementById("grade_events_list"), {
            type: 'bar',
            data: {
            labels: {{ grade_events_list_x|tojson }},
            datasets: [
                {
                label: "Points",
                backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f"],
                data: {{ grade_events_list_y|tojson }},
                },

            ]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                },
                legend: { display: true },
                title: {
                    display: true,
                    text: {{ grade_events_list_grade|tojson }}
                }
            }
        });


        new Chart(document.getElementById("grade_points"), {
            type: 'bar',
            data: {
            labels: {{ grades|tojson }},
            datasets: [
                {
                label: "Points",
                backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f"],
                data: {{ grade_points_y|tojson }},
                },

            ]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                },
                legend: { display: true },
                title: {
                    display: true,
                    text: "Total points for each grade"
                }
            }
        });


        //Pie Chart of points per grade
        new Chart(document.getElementById("grade_points_pie"), {
            type: 'pie',
            data: {
            labels: ["9", "10", "11", "12"],
            datasets: [{
                label: "Student Attendance",
                backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850"],
                data: {{ grade_points_data|tojson }}
            }]
            },
            options: {
            title: {
                display: true,
                text: 'Points by Grade '
            }
            }
        });

        new Chart(document.getElementById("student_list"), {
            type: 'bar',
            data: {
            labels: {{ student_names|tojson }},
            datasets: [
                {
                label: "Points",
                backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f"],
                data: {{ student_points|tojson }},
                },

            ]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                },
                legend: { display: true },
                title: {
                    display: true,
                    text: "List of all students and their points"
                }
            }
        });
    </script>    

</body>
</html>